<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Products List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link type="text/css" rel="stylesheet" th:href="@{/css/main.css}"/>
</head>

<body>
<div>
    <h1>Products List</h1>
    <table class="table">
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
        <tr th:each="product : ${products}">
            <td th:text="${product.id}"/>
            <td th:text="${product.title}"/>
            <td th:text="${product.price}"/>
            <td>
                <a th:href="@{'/app/products/delete/' + ${product.id}}" role="button">Remove</a>
            </td>
        </tr>
    </table>
</div>
</body>

</html>